*,*:before,*:after{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    direction: ltr;
}

img{
	width: 100%;
	vertical-align: middle;
}

p{
	display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 22px;
    margin: 0px 0px 10px 0px;
    font-style: normal;
    white-space: normal;
}

h2{
    font-size: 2em;
}

.m-t-30 {
    margin-top: 30px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.p-l-50 {
    padding-left: 50px!important;
}

.p-r-50 {
    padding-right: 50px!important;
}

.p-t-50 {
    padding-top: 50px!important;
}

.p-t-35 {
    padding-top: 35px!important;
}

#app{
	height: 100%;
}

.bg-white {
    background-color: #fff;
}


.login-wrapper{
	width: 100%;
	height: 100%;
	background-color: #6d5cae;
}

.login-wrapper > *{
    height: 100%;
}

.login-wrapper .bg-pic{
	position: absolute;
	width: 100%;
	overflow: hidden;
}

.login-wrapper .bg-pic > img{
	width: 100%;
	opacity: 0.6;
}

.login-wrapper .login-container{
	width: 496px;
    display: block;
    position: relative;
    float: right;
    text-align: left;
}

.login-wrapper .login-container h1{
	font-size: 3em;
} 

.login-wrapper .login-container img{
	max-width: 250px;
}

.btnPurple{
    background: #6d5cae !important;
    color: #FFF;
}

.pull-bottom{
    position: absolute!important;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.m-t-10 {
    margin-top: 10px;
}

.no-padding {
    padding: 0px!important;
}

.m-b-30 {
    margin-bottom: 30px;
}

.p-r-80 {
    padding-right: 80px!important;
}

.formLogin{
    margin-top: 50px;
}

.login-wrapper .bg-caption {
    width: 500px;
}

.text-white {
    color: #fff!important;
}

.p-l-20 {
    padding-left: 20px!important;
}



@media(min-width: 992px){
    .col-md-2 {
        width: 16.66666667%;
    }
}